body {
  height: 100%;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}
.game-area {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameMat {
  height: 90vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row: auto;
  grid-gap: 1rem;
}

.card {
  background-color: red;
}

.flip {
  border: 0.1rem solid black;
}
